*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Thin.ttf');
    font-weight: 100;
  }

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Light.ttf');
    font-weight: 300;
  }

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Regular.ttf');
    font-weight: 400;
  }

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

.topbar {
    display: flex;
    background-color: #AFC7FE;
    flex-direction: row;
    width: 100vw;
    height: 7vh;
    align-items: end;
}

.logoleft {
    font-family: "Lato";
    font-size: 25pt;
    font-weight: 700;
    color: #012169;
    width: 10vw;
    display: flex;
    justify-content: right;
    padding-bottom: 1.6vh;
}

.sublogoleft {
    font-family: "Lato";
    font-size: 15pt;
    font-weight: 400;
    color: #FFF8CC;
    width: 6vw;
    display: flex;
    justify-content: left;
    padding-bottom: 1.6vh;
    padding-left: 8px;
}

.trailright {
    font-family: "Lato";
    font-size: 15pt;
    font-weight: 400;
    color: #012169;
    width: 67vw;
    display: flex;
    justify-content: right;
    padding-bottom: 2.2vh;
    line-height: 15pt;
}

.trailright span {
    font-weight: 700;
    line-height: 16pt;
}