* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Thin.ttf');
    font-weight: 100;
  }

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Light.ttf');
    font-weight: 300;
  }

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Regular.ttf');
    font-weight: 400;
  }

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-Black.ttf');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('../static/Lato-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

.scroll {
    overflow-y: scroll;
}

#general {
    width: max(100vw, 70em);
    height: 100vh;
    background-color: white; 
    display: flex;
    flex-direction: column;
    font-family: "Lato";
    color: #012169;
}
  
#topbar {
    flex-basis: 7vh;
    background-color: #AFC7FE;
    display: flex;
    flex-direction: row;
}
  
#logo{
    flex-basis: 5em;
    display: flex;
    padding-right: 0.2em;
    font-weight: 700;
    justify-content: flex-end;
    font-size: 2.1em;
    align-self: flex-start;
    padding-top: 0.6vh;
}
  
#sublogo{
    flex-basis: 5em;
    display: flex;
    justify-content: left;
    background-color: #AFC7FE;
    color: #FFF8CC;
    padding-left: 0.1em;
    padding-top: 0.8em;
    font-weight: 400;
    font-size: 1.2em;
    align-self: flex-end;
    padding-bottom: 1.4vh;
}

#sublogo span{
    color: #DBFFE9;
}
  
#path{
    flex-grow: 1;
    background-color: #AFC7FE;
    display: flex;
    justify-content: right;
    font-size: 1.2em;
    padding-right: 2em;
    color: #012169;
    align-self: flex-end;
    padding-bottom: 1.4vh;
}
  
#user {
    flex-basis: 12em;
    background-color: #AFC7FE;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0 2em 0.3em 0.3em;
}

#user .span {
    font-size: 0.9em;
}
  
#bulk {
    flex-grow: 1;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    max-height: 93vh;
}
  
#nav {
    flex-basis: 17em;
    min-width: 17em;
    display: flex;
    flex-direction: column;
}

#nav .explore {
    display: flex;
    flex-direction: column;
    background-color: #FFF8CC;
    margin-top: 0.7em;
    padding: 1.3em;
}

#nav .venture {
    display: flex;
    flex-direction: column;
    background-color: #DBFFE9;
    margin-top: 0.7em;
    padding: 1.3em;
}

#nav ul li {
    list-style-type: none;
    padding: 0.6em 0 0.3em 0.6em;
}

#nav ul li a {
    font-size: 17pt;
    font-weight: 300;
    text-decoration: none;
    color: #012169;
}

#nav ul li.active a {
    font-weight: 700;
    color: #012169;
}

#nav ul li a:hover {
    font-weight: 700;
    color: #012169;
}
  
#center {
    flex-grow: 1;
    margin: 1em 0 0 1em;
}
  
 
#right {
    flex-basis: 13em;
    min-width: 13em;
    background-color: #fffdf2;
    /* border-left: #012169 dashed 1px; */
    padding: 2em 1em 1em 2em;
}

.none {
    display: none;
}