/* GENERAL USE */

#center div.indexed {
    display: flex;
    flex-direction: column;
}

#center div.indexed .headers {
    font-family: "Lato";
    font-weight: 400;
    color:#012169;
    font-size: 2em;
    padding-bottom: 0.5em;
}

#center div.indexed .screen {
    background-color: #EBF1FF;
    display: flex;
    flex-direction: column;
    margin-right: 0.7em;
    margin-bottom: 0.7em;
    padding: 1.5em;
}

#center div.indexed div.screen .item {
    padding: 1em 1.5em 0 1.5em;
    font-size: 1.1em;
    display: flex;
}

#center div.indexed div.screen .item .duations {
    flex-basis: 20em;
    
}

#center div.indexed div.screen .item .description {
    flex-grow: 1;
}


#center div.indexed div.screen .item .description span{
    font-weight: 300;
}

#center div.indexed div.screen .item .description a {
    color: #012169;
    text-decoration: none;
    font-weight: 600;
}


/* NEWS */

#center div.indexed div.screen div.item .second {
    flex: 1 1 83%;
    display: flex;
}

#center div.indexed div.screen div.item .title {
    font-size: 1.1em;
    font-weight: 700;
    justify-content: flex-end;
    padding-right: 1em;
}

#center div.indexed div.screen div.item .description {
    font-size: 1.1em;
    font-weight: 400;
    justify-content: flex-start;
    padding-left: 1em;
}