/* .center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
} */

dialog::backdrop {
  background: rgb(255, 255, 255, 0.6);
}

.modalshow {
  display: visible;
  position:fixed;
  left: 50%;
  top: 50%;
}

.modalhide {
  display: none;
}