.boardname {
    font-size: 18pt;
    font-weight: 500;
}

.boarditem {
    min-width: 400px;
    max-width: 600px;
    margin: 20px;
    border: 1px solid gray;
    background-color: #eeeeee;
}

.collectiveitem {
    min-width: 400px;
    max-width: 600px;
    margin: 0 20px 20px 20px;
    border: 1px solid gray;
    background-color: #eeeeee;
}

.voteitem {
    min-width: 400px;
    max-width: 600px;
    margin: 20px;
    border: 1px solid gray;
    background-color: #eeeeee;
    padding: 10px;      
}

.eventitem {
    min-width: 400px;
    max-width: 600px;
    margin: 20px;
    border: 1px solid gray;
    background-color: #eeeeee;
    padding: 10px;              
}

.draftitem {
    min-width: 400px;
    max-width: 600px;
    margin: 20px;
    border: 1px solid gray;
    background-color: #eeeeee;
    padding: 10px;              
}

.votecastitem {
    min-width: 400px;
    max-width: 600px;
    margin: 20px;
    border: 1px solid gray;
    background-color: #eeeeee;
    padding: 10px;              
}

.showdraft {
    min-width: 400px;
    max-width: 600px;
}

li.auhtor {
    float: left;
    border: 1px solid black;
    margin-right: 10px;
}

li.memberitem {
    margin: 10px;
}

.memberslist {
    list-style-type: none;
    overflow: hidden;    
}

.authorslist{
    list-style-type: none;
    overflow: hidden;    
}

.eventpublic {
    font-size: 11pt;
    font-weight: 400;
}

.eventtime {
    font-size: 11pt;
    font-weight: 400;
}

.eventstatus {
    font-size: 12pt;
    font-weight: 500;
}

.eventabout {
    font-size: 12pt;
    font-weight: 500;
}


.eventdetails{
    color: black;   
}

.large {
    font-size: 16pt;
}

.none {
    display: none;
}

.votecaption {
    font-size: 11pt;
}

.reasons {
    font-weight: 400;
    font-style: italic;
    color: gray;
}

.policy {
    font-size: 11pt;
    font-weight: 400;
}

label.r {
    font-size: 12pt;
    font-weight: 600;
}

.r {
    font-size: 12pt;
    font-weight: 600;
}

.ri {
    font-size: 11pt;
    font-weight: 400;
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    background-color: #e0e0e6;
    border: none;
}

.newdraft {
    max-width: 600px;
    width: auto;
    padding: 10px;
}

.borderless {
    border: none;
}

input ~ .tab { 
    display: none;
}
#single:checked ~ .tab.content1,
#coauthored:checked ~ .tab.content2,
#collectively:checked ~ .tab.content3 {display: block;}


.tab {
    margin-top: 10px;
}

hr {
    border-top: 2px solid black;
}

input#showreasons:not(:checked)+#reasons {
    display: none;
  }

input#showrefs:not(:checked)+#refs {
    display: none;
  }

.submit {
    margin-top: 20px;
    font-size: 14pt;
    padding: 4px;
    background-color: #aaaaaa;
}

.h2form {
    font-size: 18pt;
    font-weight: 600;
    color: #012169;
}